<main>
  <div class="container">
    <div style="text-align: center; center; margin: 20px 0;">
     <span style="font-size:20px;background-color:#dcdcdc"><strong>新規ユーザ登録</strong></span>
    </div>

    <div style="text-align: center; center; margin: 20px 0;">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <table align="center">
          <tr>
            <td style = "padding: 20px 30px 0 0;"><%= f.label :名前（仮でも可） %></td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "", placeholder: "日本太郎" %></td>
          </tr>

          <tr>
            <td style = "padding: 20px 30px 0 0;"><%= f.label :フリガナ %></td>
            <td><%= f.text_field :name_kana, autofocus: true, autocomplete: "", placeholder: "ニホンタロウ" %></td>
          </tr>

          <tr>
            <td style = "padding: 20px 30px 0 0;"><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
          </tr>

          <tr>
            <td style = "padding: 20px 30px 0 0;"><%= f.label :パスワード（6文字以上） %></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>

          <tr>
            <td style = "padding: 20px 30px 0 0;"><%= f.label :パスワード（確認用）%></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
        </table>

        <div class="actions", style="text-align: center; margin: 20px auto;">
          <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
        </div>
      <% end %>
    </div>

    <div style="text-align: center; margin: 60px 0;">
      <!--ログイン画面に推移-->
      <h5>※既にユーザの方はこちらの<%= link_to "ログイン画面へ", new_user_session_path %>からログインして下さい。</h5>
    </div>
  </div>
</main>
