<main>
  <div class="container">
    <div style="text-align: center; center; margin: 20px 0;">
      <span style="font-size:20px;background-color:#dcdcdc">ユーザ一覧</span>
    </div>

    <div style="text-align: center; margin: 20px 20%;">
      　<table class="table" border="3" align="center">
      　   <thead>
            <tr style = "padding: 0 50px 0 0;">
              <th></th>
              <th style = "text-align: center; padding: 0 10px 0 0;"> ユーザ名 </th>
              <th style = "text-align: center; padding: 0 10px 0 0;">投稿件数</th>
              <th style = "text-align: center; padding: 0 10px 0 0;">好きな食べ物</th>
              <th style = "text-align: center; padding: 0 10px 0 0;">フォロー数</th>
              <th style = "text-align: center; padding: 0 10px 0 0;">フォロワー数</th>
              <th style = "text-align: center; padding: 0 10px 0 0;"></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td style = "text-align: center; padding: auto 15px;"><%= attachment_image_tag user, :profile, :fill, 70, 70, format: 'jpeg' %></td>
                <td style = "text-align: center; padding: auto 15px;"><%= user.name %></td>
                <td style = "text-align: center; padding: auto 15px;"><%= user.foods.count %></td>
                <td style = "text-align: center; padding: auto 15px;"><%= user.favorited_food %></td>
                <td style = "text-align: center; padding: auto 15px;"><%= user.followings.count %></td>
                <td style = "text-align: center; padding: auto 15px;"><%= user.followers.count %></td>
                <td style = "text-align: center; padding: auto;"><%= link_to "詳細", user_path(user.id), class: "btn btn-block btn-sm btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <div style="text-align: center; center; margin: 20px 0;">
        <%= paginate @users, class: "pagination" %>
      </div>
    </div>
  </div>
</main>