<main>
  <div class="container">
        <div style="text-align: center; center; margin: 20px 0;">
            <span style="font-size:20px;background-color:#dcdcdc">ログイン画面</span>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <table align="center">

            <tr>
              <td><%= f.label :メールアドレス %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
            </tr>

            <tr>
              <td><%= f.label :パスワード（6文字以上） %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>

            <tr>
              <td><%= f.label :パスワード（確認用）%></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "current-password" %></td>
            </tr>

          </table>

          <div class="actions", style="text-align: center; margin: 20px 0;">
            <%= f.submit "ログイン", class: "btn btn-block btn-sm btn-primary" %>
          </div>
        <% end %>

        <div style="text-align: center; margin: 60px 0;">
          <h6>※新規ユーザ登録されていない方はこちらの<%= link_to "新規登録画面へ", new_user_registration_path %>からログインして下さい。</h6>
        </div>
　</div>
</main>

