<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <h4><%= link_to @food.user.name, user_path %>さんの投稿</h4>
      </div>

      <div class="col-lg-4 offset-lg-2">
        <h3 style="text-align: center;"><strong><%= @food.name %></strong></h3>
      </div>

      <div class="col-lg-2 offset-2">
        <% if @food.user == current_user %>
          <%= link_to "編集", edit_food_path(@food.id), class: "btn btn-block btn-sm btn-success" %>
        <% else %>
          <div id="like-btn-<%= @food.id %>">
            <%= render 'likes/like', food: @food %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <div class="d-flex justify-content-center">
          <%= attachment_image_tag @food, :image, :fill, 350, 200, format: 'jpeg' %>
        </div>

        <div class="d-flex justify-content-center">
          <div class="relative-post-evaluation">
            <div>他ユーザの評価：</div>
            <span id="star-rate-<%= @food.id %>"></span>
            <div id="food_avarage_rate"></div>
            <script>
              $('#food_avarage_rate').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,  // # 星半分表示
                 // # 読み取り専用
                 readOnly: true,
                score: '<%= @food.avg_score %>'  // # 星評価の表示
              });
            </script>
            <%= @food.evaluation %>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @food.avg_score %>点（<%= @food.reviews.count %>件のレビュー）
          </div>
        </div>

        <div>
          <div>
            <%= render 'reviews/form', review: @review, food: @food %>
          </div>

          <div>
            <%= form_with model: [@food, @comment], local: true do |f| %>
              <%= f.text_area :comment, size: "40x5" %>
              <%= f.submit '送信', method: :post, class: "btn-sm btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-6 offset-lg-1">
        <div class="d-flex justify-content-center">
          <table class="table" align="center">
            <tbody>
              <tr>
                <td style = "padding: 20px 30px 0 0;">ジャンル名</td>
                <td style = "padding: 20px 0 0 0;"><%= @food.genre %></td>
              </tr>

              <tr>
                <td style = "padding: 20px 30px 0 0;">お勧めメニュー</td>
                <td style = "padding: 20px 0 0 0;"><%= @food.menu %></td>
              </tr>

              <tr>
                <td style = "padding: 20px 30px 0 0;">税抜価格</td>
                <td style = "padding: 20px 0 0 0;"><%= @food.price %>（円）</td>
              </tr>

              <tr>
                <td style = "padding: 20px 30px 0 0;">紹介</td>
                <td style = "padding: 20px 0 0 0;"><%= @food.introduction %></td>
              </tr>

              <tr>
                <td style = "padding: 20px 30px 0 0;">住所</td>
                <td style = "padding: 20px 0 0 0;"><%= @food.address %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div>
      <div>
        <p><strong>他ユーザのコメント</strong></p>
      </div>

      <div class="d-flex justify-content-center">
        <div>他ユーザのレビュー</div>
      </div>

      <div class="d-flex justify-content-center">
        <section class="section mt-6">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5">
                <div class="card mb-6">
                  <header class="card-header">
                    <p class="card-header-title">
                      <%= @food.name %>
                    </p>
                  </header>

                  <div class="card-content">
                    <div class="content average-score">
                      <div class="star-rating mb-2">
                        <div class="star-rating-front" style="width: <%= @food.review_score_percentage %>%">★★★★★</div>
                        <div class="star-rating-back">★★★★★</div>
                      </div>

                      <div class="average-score-display ml-3 pt-2">
                        <%= @food.avg_score %>点（<%= @food.reviews.count %>件のレビュー）
                      </div>
                    </div>
                  </div>
                </div>

                <table class="table is-fullwidth has-text-centered">
                  <thead>
                    <tr>
                      <th>ユーザー</th>
                      <th>点数</th>
                      <th>内容</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @reviews.each do |review| %>
                      <tr>
                        <td><%= review.user.name %></td>
                        <td><%= review.score %></td>
                        <td><%= review.content %></td>
                      </tr>
                     </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>

        <!--<div>-->
          <!--<table>-->
          <!--  <thead>-->
          <!--    <tr>-->
          <!--      <th>コメント投稿者</th>-->
          <!--      <th>コメント内容</th>-->
          <!--    </tr>-->
          <!--  </thead>-->
          <!--  <tbody>-->
          <!--    <%# @comments.each do |comment| %>-->
          <!--      <tr>-->
          <!--        <td><%#= comment.user.name %></td>-->
          <!--        <td><%#= comment.comment %></td>-->
          <!--        <td><%#= link_to "削除", food_comment_path(@food, comment), method: :delete %></td>-->
          <!--      </tr>-->
          <!--    <%# end %>-->
          <!--  </tbody>-->
          <!--</table>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</main>