<main>
  <%# if @error_review.errors.any? %>
    <%#= @error_review.errors.count %>件のエラーが発生しました
    <%# @error_review.errors.full_messages.each do |message| %>
      <%#= message %>
    <%# end %>
  <%# end %>

  <% if @error_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= @error_comment.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @error_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row" style ="text-align: center; margin: 30px auto;">
      <div class="col-lg-3">
        <% if user_signed_in? && current_user.id == @food.user_id %>
          <h4 style="text-align: center;"><%= link_to "あなた", user_path(@food.user.id) %>の投稿</h4>
        <% else %>
          <h4 style="text-align: center;"><%= link_to @food.user.name, user_path(@food.user.id) %>さんの投稿</h4>
        <% end %>
      </div>

      <div class="col-lg-4 offset-lg-1">
        <h3 style="text-align: center; margin: 15px auto;"><strong><%= @food.name %></strong></h3>
      </div>

      <div class="col-lg-2 offset-2">
        <h5 style="text-align: center;">
          <% if @food.user == current_user %>
            <%= link_to "編集", edit_food_path(@food.id), class: "btn btn-block btn-sm btn-success" %>
          <% else %>
            <div id="like-btn-<%= @food.id %>">
              <%= render 'likes/like', food: @food %>
            </div>
          <% end %>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <div class="d-flex justify-content-center">
          <%= attachment_image_tag @food, :image, :fill, 350, 200, format: 'jpg', fallback: "no_image.jpg" %>
        </div>

        <div class="d-flex justify-content-center">
          <div class="relative-post-evaluation">
            <div>他ユーザの評価：</div>
            <span id="star-rate-<%= @food.id %>"></span>
            <div id="food_avarage_rate"></div>
            <script>
              $('#food_avarage_rate').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,  // # 星半分表示
                 // # 読み取り専用
                 readOnly: true,
                score: '<%= @food.avg_score %>'  // # 星評価の表示
              });
            </script>
            <%= @food.evaluation %>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @food.avg_score %>点（<%= @food.reviews.count %>件のレビュー）
          </div>
        </div>

        <div>
          <div>
            <%= render 'reviews/form', review: @review, food: @food %>
          </div>

          <div>
            <%= form_with model: [@food, @comment], local: true do |f| %>
              <%= f.text_area :comment, size: "40x5" %>
              <%= f.submit '送信', method: :post, class: "btn-sm btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-6 offset-lg-1">
        <div class="d-flex justify-content-center">
          <table class="table" align="center">
            <tbody>
              <tr>
                <td style = "padding: 40px 30px 0 0;"><strong>ジャンル名</strong></td>
                <td style = "padding: 40px 0 0 0;"><strong><%= @food.genre %></strong></td>
              </tr>

              <tr>
                <td style = "padding: 40px 30px 0 0;"><strong>お勧めメニュー</strong></td>
                <td style = "padding: 40px 0 0 0;"><strong><%= @food.menu %></strong></td>
              </tr>

              <tr>
                <td style = "padding: 40px 30px 0 0;"><strong>税抜価格</strong></td>
                <td style = "padding: 40px 0 0 0;"><strong><%= @food.price %></strong>（円）</td>
              </tr>

              <tr>
                <td style = "padding: 40px 30px 0 0;"><strong>紹介</strong></td>
                <td style = "padding: 40px 0 0 0;"><strong><%= @food.introduction %></strong></td>
              </tr>

              <tr>
                <td style = "padding: 40px 30px 0 0;"><strong>住所</strong></td>
                <td style = "padding: 40px 0 0 0;"><strong><%= @food.address %></strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div style="margin: 30px 0">
      <div class="d-flex justify-content-center">
        <div class="line"><strong>他ユーザのレビュー</strong></div>
      </div>

      <div class="d-flex justify-content-center">
        <section class="section mt-6">
          <div class="container">
            <div class="columns is-centered" style ="margin: 30px 25%;">
              <div class="column is-5">
                <div class="card mb-6">
                  <header class="card-header">
                    <p class="card-header-title">
                      <%= @food.name %>
                    </p>
                  </header>

                  <div class="card-content">
                    <div class="content average-score">
                      <div class="average-score-display ml-3 pt-2">
                        <%= @food.avg_score %>点（<%= @food.reviews.count %>件のレビュー）
                      </div>
                    </div>
                  </div>
                </div>

                <table class="table is-fullwidth has-text-centered" style="margin: 20px 0">
                  <thead>
                    <tr>
                      <th>ユーザー</th>
                      <th>点数</th>
                      <th>内容</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @reviews.each do |review| %>
                      <tr>
                        <td><%= review.user.name %></td>
                        <td><%= review.score %></td>
                        <td><%= review.content %></td>
                      </tr>
                     </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="d-flex justify-content-center">
        <div class="line"><strong>他ユーザのコメント</strong></div>
      </div>

      <div class="d-flex justify-content-center">
        <section class="section mt-6">
          <div class="container">
            <div class="columns is-centered" style ="margin: 30px 25%;">
              <div>
                <table class="table is-fullwidth has-text-centered" style="margin: 20px 0">
                  <thead>
                    <tr>
                      <th>コメント投稿者</th>
                      <th>コメント内容</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @comments.each do |comment| %>
                      <tr>
                        <td><%= comment.user.name %></td>
                        <td><%= comment.comment %></td>
                        <td>
                          <% if user_signed_in? && current_user.id == comment.user_id %>
                            <%= link_to "削除", food_comment_path(@food, comment), method: :delete, class: "btn  btn-danger" %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>