<html>
  <head>
    <title>Recommended</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/269075dec1.js" crossorigin="anonymous"></script>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body class="d-flex flex-column vh-100">
    <heaer class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div>
            <%= link_to "Recommended Food", root_path, class: 'navbar-brand p-3' %>
          </div>

          <div>
            <% if user_signed_in? %>
              <div class="search_form">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word %>
                  <%= f.select :range, options_for_select([['User'], ['Food']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "検索", class: "btn btn-primary" %>
                <% end %>
              </div>
            <% end %>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "マイページ", user_path(current_user), class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "about", home_about_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "お気に入り一覧", likes_foods_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "Food一覧", foods_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "ユーザ一覧", users_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "新規投稿", new_food_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, class: 'fas fa-home nav-link text-light', method: :delete %>
                </li>

              <% else %>

                <li>
                  <%= link_to "about", home_about_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: 'fas fa-home nav-link text-light' %>
                </li>

                <li>
                  <%= link_to "ログイン", new_user_session_path, class: 'fas fa-home nav-link text-light' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>